@import "~styles/shared";

.character-card {
  position: relative;
  width: 100px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  color: $c-white;
  font-size: 16px;
  font-weight: 500;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border: 2px solid transparent;
  border-radius: 10%;
  margin-left: 1px;
  margin-right: 1px;

  &--selectable {
    cursor: pointer; 
    
    &:hover {
      border: 2px solid $c-green;
    }
  }

  &--grayscale {
    filter: grayscale(100%);
    opacity: 0.8;
  }

  &--ready,
  span {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
}

.Aeolus { background-image:url('../../assets/png/CharacterImages/Aeolus.png'); }
.Apollo { background-image:url('../../assets/png/CharacterImages/Apollo.png'); }
.Ares { background-image:url('../../assets/png/CharacterImages/Ares.png'); }
.Artemis { background-image:url('../../assets/png/CharacterImages/Artemis.png'); }
.Asteria { background-image:url('../../assets/png/CharacterImages/Asteria.png'); }
.Athena { background-image:url('../../assets/png/CharacterImages/Athena.png'); }
.Atlas { background-image:url('../../assets/png/CharacterImages/Atlas.png'); }
.Bia { background-image:url('../../assets/png/CharacterImages/Bia.png'); }
.Chaos { background-image:url('../../assets/png/CharacterImages/Chaos.png'); }
.Charon { background-image:url('../../assets/png/CharacterImages/Charon.png'); }
.Chronus { background-image:url('../../assets/png/CharacterImages/Chronus.png'); }
.Clio { background-image:url('../../assets/png/CharacterImages/Clio.png'); }
.Demeter { background-image:url('../../assets/png/CharacterImages/Demeter.png'); }
.Eros { background-image:url('../../assets/png/CharacterImages/Eros.png'); }
.Graeae { background-image:url('../../assets/png/CharacterImages/Graeae.png'); }
.Hades { background-image:url('../../assets/png/CharacterImages/Hades.png'); }
.Harpies { background-image:url('../../assets/png/CharacterImages/Harpies.png'); }
.Hecate { background-image:url('../../assets/png/CharacterImages/Hecate.png'); }
.Hephaestus { background-image:url('../../assets/png/CharacterImages/Hephaestus.png'); }
.Heracles { background-image:url('../../assets/png/CharacterImages/Heracles.png'); }
.Hermes { background-image:url('../../assets/png/CharacterImages/Hermes.png'); }
.Hestia { background-image:url('../../assets/png/CharacterImages/Hestia.png'); }
.Iris { background-image:url('../../assets/png/CharacterImages/Iris.png'); }
.LernaeanHydra { background-image:url('../../assets/png/CharacterImages/LernaeanHydra.png'); }
.Maenads { background-image:url('../../assets/png/CharacterImages/Maenads.png'); }
.Minotaur { background-image:url('../../assets/png/CharacterImages/Minotaur.png'); }
.Mortal { background-image:url('../../assets/png/CharacterImages/Mortal.png'); }
.Odysseus { background-image:url('../../assets/png/CharacterImages/Odysseus.png'); }
.Pan { background-image:url('../../assets/png/CharacterImages/Pan.png'); }
.Pegasus { background-image:url('../../assets/png/CharacterImages/Pegasus.png'); }
.Poseidon { background-image:url('../../assets/png/CharacterImages/Poseidon.png'); }
.Prometheus { background-image:url('../../assets/png/CharacterImages/Prometheus.png'); }
.Random { background-image:url('../../assets/png/CharacterImages/Random.png'); }
.Siren { background-image:url('../../assets/png/CharacterImages/Siren.png'); }
.Tartarus { background-image:url('../../assets/png/CharacterImages/Tartarus.png'); }
.Triton { background-image:url('../../assets/png/CharacterImages/Triton.png'); }
.Urania { background-image:url('../../assets/png/CharacterImages/Urania.png'); }
.Zeus { background-image:url('../../assets/png/CharacterImages/Zeus.png'); }
