@import "~styles/shared";

.Mortal {
    background-image: url('../../assets/images/mortal.png')
}

.Mortal.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/mortal.png')
}

.Apollo {
    background-image: url('../../assets/images/apollo.png')
}

.Apollo.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/apollo.png')
}

.Artemis {
    background-image: url('../../assets/images/artemis.png')
}

.Artemis.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/artemis.png')
}

.Athena {
    background-image: url('../../assets/images/athena.png')
}

.Athena.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/athena.png')
}

.Atlas {
    background-image: url('../../assets/images/atlas.png')
}

.Atlas.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/atlas.png')
}

.Demeter {
    background-image: url('../../assets/images/demeter.png')
}

.Demeter.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/demeter.png')
}

.Hephaestus {
    background-image: url('../../assets/images/hephaestus.png')
}

.Hephaestus.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/hephaestus.png')
}

.Hermes {
    background-image: url('../../assets/images/hermes.png')
}

.Hermes.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/hermes.png')
}

.Minotaur {
    background-image: url('../../assets/images/minotaur.png')
}

.Minotaur.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/minotaur.png')
}

.Pan {
    background-image: url('../../assets/images/pan.png')
}

.Pan.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/pan.png')
}

.Prometheus {
    background-image: url('../../assets/images/prometheus.png')
}

.Prometheus.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/prometheus.png')
}

.Random {
    background-image: url('../../assets/images/random.png')
}

.Random.checked {
    background-image: url('../../assets/images/check.png'),
    url('../../assets/images/random.png')
}

.characterBox {
    position: relative;
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    color: $c-white;
    font-size: 18px;
    font-weight: 500;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 2px solid transparent;
    border-radius: 25px;
    margin: auto;
}

.characterBox:hover {
    border: 2px solid lime;
}

.char1name, .char2name {
    font-size: 18px;
    font-weight: bold;
}

.characterBox span {
    position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}

.characterSelect {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.char1selection, .char2selection {
    position: relative;
    width: 40%;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.selectedCharacters {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-evenly;
}

.button {
    margin: 50px auto;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}
.slick-next {
    right: 3% !important;
    z-index: 1;
}

@media only screen and (max-width: 599px) {
    .characters {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .charactersCarousel {
        display: none;
    }
}