@import "~styles/shared";

.grayscale {
  filter: grayscale(100%);
  opacity: 0.8;
}

.characterBox, .characterBoxSelectable {
  position: relative;
  width: 100px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  color: $c-white;
  font-size: 16px;
  font-weight: 500;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  border: 2px solid transparent;
  border-radius: 10%;
  margin: auto;
}

.characterBox span, .characterBoxSelectable span, .characterBoxCheck {
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
}

.characterBoxSelectable {
  cursor: pointer;  
}

.characterBoxSelectable:hover {
  border: 2px solid lime;
}

.charSelect {
  background-color: $c-blue;
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  text-align: center;

  h1, span {
      color: white;
  }

  Button {
    margin: 50px auto;
  }

  .slick-prev {
    left: 3% !important;
    z-index: 1;
  }

  .slick-next {
    right: 3% !important;
    z-index: 1;
  }

  &__disconnected {
    margin: 0;
    color: $c-red;
  }

  &__characters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  &__playerName {
    font-size: 18px;
    font-weight: bold;
  }

  &__selectedCharDiv {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-evenly;
  }

  &__selectedChar {
    position: relative;
    width: 40%;
  }
}

@media only screen and (max-width: 599px) {
  .charSelect__characters {
    display: none;
  }
}
  
@media only screen and (min-width: 600px) {
  .charSelect__carousel {
    display: none;
  }
}