@import "~styles/shared";

.chat {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 16px;

  &__message-list {
    height: 88%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid $c-dark-gray;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: left;

  }
  
  &__message {
    margin-left: 2%;
    margin-right: 2%;

    &--warning {
      color: $c-red;
    }

    &--sender-0 {
      color: $c-player-0;
    }
    
    &--sender-1 {
      color: $c-player-1;
    }  
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 3em;
    width: 100%;
    
    input {
      height: 100%;
      width: 75%;
      padding-left: 5px;
      border-radius: 10px;
      border: 2px solid $c-dark-gray;
      float: left;
    }
  
    &-button {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
