.chat {
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 12px;

  .sendImg {
    width: 20px;
    height: 20px;
  }

  p {
    margin-left: 2%;
    margin-right: 2%;
  }

  .messages {
    height: 90%;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: left;
  }

  .chatControls {
    position: absolute;
    bottom: 0;
    height: 8%;
    width: 100%;
    
    input {
      height: 100%;
      width: 75%;
      padding-left: 5px;
      border-radius: 10px;
      border: none;
      float: left;
    }
  
    .sendBtn {
      margin: 0;
      background: rgb(0, 196, 65);
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 10px;
      float: right;
      height: 100%;
      width: 20%;
    }
  }

  .chatWarning {
    color: red;
  }

  .sender-0 {
    color: dodgerblue;
  }
  
  .sender-1 {
    color: gray;
  }  
}

// @media only screen and (max-width: 599px) {
//   .chat {
//     position: absolute;
//     z-index: 10;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background: transparentize($c-black, 0.10);

//     .sendImg {
//       width: 25px;
//       height: 25px;
//     }

//     .messages {
//       position: absolute;
//       top: 0;
//       right: 10px;
//       left: 10px;
//       height: 90%;
//       overflow-y: auto;
//       word-wrap: break-word;
//       text-align: left;
//       color: white;
//     }

//     .chatControls {
//       position: absolute;
//       display: flex;
//       justify-content: space-evenly;
//       height: 8%;
//       bottom: 0;
//       right: 0;
//       left: 0;
//       color: white;
    
//       input {
//         width: 50%;
//         height: 100%;
//         padding-left: 5px;
//         border-radius: 10px;
//         border: none;
//         float: left;
//       }
    
//       .sendBtn {
//         background: rgb(0, 196, 65);
//         margin-left: 5px;
//       }

//       .closeBtn {
//         background: red;
//         color: white;
//         font-weight: bold;
//       }

//       button {
//         border-radius: 10px;
//         border: none;
//         outline: none;
//         height: 100%;
//         margin-left: 5px;
//         margin-right: 5px;
//         width: 20%;
//       }
//     }
//   }
// }