@import "styles/shared";

.text {
  margin: 0px 0 40px;
  max-width: 600px;
  color: $c-white;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.logo {
  max-width: 100%;
}

.buttonsDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.buttons {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 599px) {
  .text {
    font-size: 14;
  }

  .logo {
    margin: -20px
  }
}
