@import '~styles/shared';

.character-card {
  position: relative;
  width: 100px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  color: $c-white;
  font-size: 16px;
  font-weight: 500;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  border: 2px solid transparent;
  border-radius: 10%;
  margin-left: 1px;
  margin-right: 1px;

  &--selectable {
    cursor: pointer;

    &:hover {
      border: 2px solid $c-green;
    }
  }

  &--grayscale {
    filter: grayscale(100%);
    opacity: 0.8;
  }

  &--ready,
  span {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
}
