@import '~/node_modules/normalize.css/normalize.css';
@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.App,
.App > div {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $c-gray;
}
