@import 'styles/shared';

.match-table {
  width: 75%;
  margin-bottom: 3em;

  &__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  &__row {
    line-height: 40px;
    color: $c-white;

    &--match {
      border-bottom: 1px solid $c-white;
    }

    &--match:hover {
      background-color: $c-orange;
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none;
    }

    td {
      text-align: center;
    }
  }

  &__filters {
    color: white;
    text-align: center;
  }

  &__caption {
    font-size: 32px;
    font-weight: bold;
    color: $c-white;
  }

  &__sub-caption {
    font-size: 16px;
    font-weight: bold;
    color: $c-white;
    margin-bottom: 1em;
  }

  &__pagination {
    color: white;
    margin-top: 10px;
  }

  @include tablet-max {
    margin-top: 4em;
    width: 100%;
  }
}
