@import "~styles/shared";

.GameBoard {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#canvas {
  position: flex;
  height: 65vh;
  width: 50vw;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.PlayerControls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 12px;

  &__button {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.PlayerInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  h2 {
    margin: 0;
  }

  &__P1Name {
    position: absolute;
    color: dodgerblue;
    top: 10px;
    left: 10px;
  }

  &__P2Name {
    position: absolute;
    color: gray;
    top: 10px;
    right: 10px;
    text-align: right;
  }

  &__P1Description {
    color: dodgerblue;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 12px;
    width: 20vw;
    text-align: left;
  }

  &__P2Description {
    color: gray;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 12px;
    width: 20vw;
    text-align: right;
  }
}

.PlayerInfoMobile {
  position: absolute;
  width: 100vw;
  top: 10px;

  h2 {
    margin: 0;
  }

  &__P1QuestionMark {
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    background-color: dodgerblue;
    border-radius: 50%;
  }

  &__P2QuestionMark {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    background-color: gray;
    border-radius: 50%;
  }

  &__P1Name {
    position: absolute;
    color: dodgerblue;
    left: 40px;
    font-size: 14px;
  }

  &__P2Name {
    position: absolute;
    color: gray;
    right: 40px;
    font-size: 14px;
    text-align: right;
  }
}

.MobileOverlay {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparentize($c-black, 0.10);
  
  &__p1 {
    position: absolute;
    top: 15%;
    right: 10px;
    left: 10px;
    text-align: center;
    color: dodgerblue;
  }

  &__mid {
    position: absolute;
    top: 50%;
    right: 10px;
    left: 10px;
    text-align: center;
    color: white;
  }

  &__p2 {
    position: absolute;
    bottom: 15%;
    right: 10px;
    left: 10px;
    text-align: center;
    color: gray;
  }
}

.PlayerBoard {
  font-size: 16px;
  border-radius: em(10);
  background-color: #f7f8fb;
  box-shadow: 0px em(2) em(2) rgba(0, 0, 0, 0.25);
  position: relative;

  &--waiting {
    box-shadow: 0 0 0 4px rgba($c-yellow, 0.5);
  }

  &--active {
    box-shadow: 0 0 0 4px rgba($c-green, 0.7);
  }

  @keyframes victory {
    0% {
      box-shadow: 0 0 0 4px rgba($c-violet, 0.5);
    }
    20% {
      box-shadow: 0 0 0 4px rgba($c-blue, 0.5);
    }
    40% {
      box-shadow: 0 0 0 4px rgba($c-green, 0.5);
    }
    60% {
      box-shadow: 0 0 0 4px rgba($c-ocean-blue, 0.5);
    }
    80% {
      box-shadow: 0 0 0 4px rgba($c-pink, 0.5);
    }
    100% {
      box-shadow: 0 0 0 4px rgba($c-ocean-green, 0.5);
    }
  }

  &--winner {
    animation: victory 5s ease infinite;
  }

  &--loser {
    box-shadow: 0 0 0 4px rgba($c-red, 0.7);
  }

  &__hint {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 0;
    text-align: center;
    transform: translate(0, calc(-100% - 10px));
    color: darken($c-yellow, 5%);
  }

  &__hint-accent {
    color: darken($c-yellow, 15%);
  }

  &--active &__hint {
    color: $c-green;
  }

  &--winner &__hint {
    color: $c-violet;
  }

  &--loser &__hint {
    color: $c-red;
  }
}

@media only screen and (max-width: 599px) {
  #canvas {
    height: 60vh;
    width: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  }

  .PlayerBoard {
    width: 95%;
    margin-top: em(85);
    padding: 0;
  }
}