@import "~styles/shared";

.setup-nickname {
  &__input {
    width: 100%;
    margin: 36px 0;
  }

  &__form {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 26px;
    color: $c-white;
    margin: 0;
  }

  @include tablet-min {
    &__input {
      width: 80%;
    }
  
    &__title {
      font-size: 50px;
    }
  }
}
