@import "~styles/shared";

.lobby-page {
  position: relative;
  padding: 0px 20px;
  width: 100%;
  height: 100%;
  background: $c-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lobby-top {
  justify-content: start;
}

.github-link {
  color: $c-white;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 75px;

  &:hover{
    opacity: 0.7;
  }
}

@include tablet-min {
  .github-link {
    width: 100px;
  }

  .lobby-page {
    padding: 40px 60px;
  }
}